<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mayar.befit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_API_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.example.mayar.com.tcc.befit.Usuario.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mayar.com.tcc.befit.Usuario.CadastrarUsuarioActivity" />
        <activity
            android:name="com.example.mayar.com.tcc.befit.Usuario.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name="com.example.mayar.com.tcc.befit.Usuario.VerificaEmailActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Usuario.HelpActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Usuario.ConfiguracoesActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Usuario.UsuarioActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Atividade.AtividadeActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Atividade.BuscarAtividadeActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Atividade.CadastrarAtividadeActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Modalidade.CadastrarModalidadeActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Atividade.MinhasAtividadesActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Modalidade.ListarModalidadeActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Usuario.AlterarUsuarioActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Atividade.PerfilAtividadeActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Modalidade.ModalidadeAdmActivity" />

        <!-- fcm -->

        <service android:name="com.example.mayar.com.tcc.befit.Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.example.mayar.com.tcc.befit.Services.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.example.mayar.com.tcc.befit.Modalidade.AlterarModalidadeActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Atividade.AtividadeMainActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Atividade.ListarParticipantesAdmActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Atividade.ChatActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Atividade.MapActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Atividade.AlterarAtividadeActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Atividade.ListarParticipantesActivity" />
        <activity android:name="com.example.mayar.com.tcc.befit.Atividade.AvaliarAtividadeActivity"></activity>
    </application>

</manifest>